{%  extends 'society_reg/main.html' %}
{% load static %}
{% block content %}


<div class="d-flex justify-content-center">
	<div class="row">
		<div class="col-md">
			<div class="card card-body">


			
                
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    



                                    <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Name</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <input class="form-control form-control-solid form-control-lg" name="vname" type="text"  value="">
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                
                                    <hr>
                                    <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <input class="form-control form-control-solid form-control-lg" name="phone" type="text"  value="">
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                                  
                                    <hr>
                                    <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Vehicle</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <!-- <input class="form-control form-control-solid form-control-lg" name="vehicle" type="select"> -->
                                            {{ form.vehicle}}
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                                    
                                    
                                    <hr>
                                    <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Society</label>
                                        <div class="col-lg-9 col-xl-9">
                                          {{form.society}}
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                                    
                                    
                                    <hr>

                                    <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Wing</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <!-- <input class="form-control form-control-solid form-control-lg" name="wing" type="select" value='{{form.wing.value}}'>
                                            <option value = '{{form.wing}}'>{{ form.wing}}<option> -->
                                                {{ form.wing}}
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                                    
                                    <hr>
                                    <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Flat No</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <!-- <input class="form-control form-control-solid form-control-lg" name="flat_no" type="select" > -->
                                            {{form.flat_no}}
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                                  
                                    <hr>

                                    <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Purpose</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <input class="form-control form-control-solid form-control-lg" name="purpose" type="text" >
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                            
                                    <!-- <div class="form-group row fv-plugins-icon-container">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Out Time</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <input class="form-control form-control-solid form-control-lg" name="out_time" type="text" >
                                        <div class="fv-plugins-message-container"></div></div>
                                    </div>
                          -->
                              
                                <input type="submit" name="Submit">
                                </form>
                                
				

			</div>
		</div>
	</div>
</div>
{% endblock %}

