{%  extends 'society_reg/main.html' %}
{% load static %}
{% block content %}


<div class="d-flex justify-content-center">
	<div class="row">
		<div class="col-md">
			<div class="card card-body">


				<form action="" method="POST">
					{% csrf_token %}
                    {{form.society.label}}
                    {{form.society}}
                    <hr>
                    {{form.wing.label}}
                    {{form.wing}}
                    <hr>
                    {{form.flat_no.label}}
                    {{form.flat_no}}
                    <hr>
				<input type="submit" name="Submit">
				</form>
				

					<hr>
			</div>
		</div>
	</div>
</div>
{% endblock %}

