{% extends 'society_reg/main.html' %}

{% block content%}



<div class = "row">
	<div class ="col-md">
	<div class = "card card-body">



		
		<a class="btn btn-sm btn-info" href="{% url 'add_visitor' %}">New Visitor</a>
		<table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
      	
			<thead>
			  <tr>
				<th>Name</th>
				<th>Phone</th>
				<th>vehicle</th>
				<th>in_time</th>
				<th>Wing</th>
				<th>Flat No</th>
				<th>purpose</th> 
				<th>out_time</th>
				<th>Update</th>
			  </tr>
	
	
			  
			</thead>
			
			<tbody>
				{% for visitor in visitors %}
				{{visitor.vname}}
				
			  <tr>
				<td>{{visitor.vname}}</td>
				<td>{{visitor.phone}}</td>
				<td>{{visitor.vehicle}}</td>
				<td>{{visitor.in_time}}</td>
				<td>{{visitor.wing}}</td>
				<td>{{visitor.flat_no}}</td>
				<td>{{visitor.purpose}}</td> 
				<td>{{visitor.out_time}}</td>
			
				<td> <a class="btn btn-sm btn-info" href="{% url 'updatevisitor' visitor.id %}">Update</a></td>
	

				  
			  </tr>
			 {% endfor %}
			</tbody>
			
		  </table>
		  <nav aria-label="Page navigation example">
			{% if visitors.has_other_pages %}
			<ul class="pagination">
				{% if visitors.has_previous %}
				<li class="page-item"><a class="page-link" href="?page={{ visitors.previous_page_number }}">&laquo;</a></li>
				{% else %}
				<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in visitors.paginator.page_range %}
				{% if visitors.number == i %}
				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				{% else %}
				<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
				{% endfor %}
				{% if visitors.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ visitors.next_page_number }}">&raquo;</a></li>
				{% else %}
				<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
			{% endif %}
		</nav>

	</div>
</div>
</div>




{% endblock %}