{%  extends 'society_reg/main.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>


$(
    function(){
     
        $('#time').click(function(){
									var time = moment().format('YYYY-MM-DD HH:mm:ss');
                  $('#id_out_time').val(time);  
        });
        
    }
);


</script>
<div class="d-flex justify-content-center">
	<div class="row">
		<div class="col-md">
			<div class="card card-body">


				<form action="" method="POST">
					{% csrf_token %}
					
					<b>Name</b> : {{form.vname}}
					<hr>
					<b>{{form.phone.label}}</b> : {{form.phone}}
					<hr>

					<b>{{form.vehicle.label}}</b> : {{form.vehicle}}
					<hr>
					<b>{{form.society.label}}</b> : {{form.society}}
					<hr>
					<b>{{form.wing.label}}</b> : {{ form.wing}}
					<hr>
                    <b>{{form.flat_no.label}}</b> : {{form.flat_no}}
					<hr>

                    <b>{{form.out_time.label}}</b>
                   
				
					
					<input type="text" name='{{form.out_time.name}}' value='{{form.out_time.value}}'  id="id_out_time" >
					<input type="button" value="Check Out"  id="time">
					<hr>

				<input type="submit" name="Submit">
				</form>
				

				<!-- <input type='text'  id='{{form.name}}' name = 'out_time' value="">
					<button id='{{visitors.id}}' onClick="show(this.id)">Check Out</button> -->
					<hr>
			</div>
		</div>
	</div>
</div>
{% endblock %}


<!-- <b>{{form.out_time.label}}</b> : {{form.out_time}} -->