{%  extends 'society_reg/main.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="row">
		<div class="col-md">
			<div class="card card-body">

		
				
                <b>Name : {{visitors.name}} </b>
                <hr>
                <b>Phone : {{visitors.phone}} </b>
                <hr>

                <b>Vehicle : {{visitors.vehicle}} </b>
                <hr>
                <b>In Time : {{visitors.in_time}} </b>
                <hr>
                <b>Purpose : {{visitors.purpose}} </b>
                <hr>

                <b>Out Time : {{visitors.out_time}} </b>
                <hr>
					

			</div>
		</div>
	</div>
</div>
{% endblock %}
